.todo-main {
  background-color: white;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.todo-heading {
  display: flex;
  justify-content: space-between;
}

.todo-heading p:nth-of-type(2) {
  margin: 0 20px;
}
.todo-tasks ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.todo-tasks ul li {
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(188, 123, 123, 0.277);
}

.task-name {
  margin: 0;
}

.task-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-status {
  display: flex;
  gap: 8px;
}

.task-status button {
  padding: 4px 12px;
  border-radius: 12px;
  background-color: bisque;
}

.task-status button:nth-of-type(1):hover {
  background-color: grey;
  color: white;
  transition: 0.3s;
}
.task-status button:nth-of-type(2):hover {
  background-color: green;
  color: white;
  transition: 0.3s;
}
.task-status button:nth-of-type(3):hover {
  background-color: red;
  color: white;
  transition: 0.3s;
}
